/* --- Generellt --- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#index_body{
    background-image: url("../img/donburi_bakgrund1.png");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#main_wrapper{
    display: grid;
    grid-template-columns: minmax(500px,3fr) minmax(200px, 1fr);
    grid-template-rows: minmax(150px, 1fr) minmax(400px, 4fr) 20px;
    grid-template-areas: 
    "msec logo"
    "msec navi"
    "foot navi"
    ;

    height: 100vh;
    width: 100vw;
}

#logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.65);
}


nav{
    grid-area: navi;
    background: rgba(0, 0, 0, 0.65);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.main_section{
    grid-area: msec;
}

.nav_underline{
    height: 2px;
    width: 11rem;
    background: white;
}

#nav_list{
    list-style: none;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

#nav_list>li{
    margin: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav_list>li>a{
    color: white;
    text-decoration: none;
}

footer{
    height: 100%;
    grid-area: foot;
    background: rgba(0, 0, 0, 0.50);
    color: rgb(200, 200, 200);
}

footer>a{
    color: lightblue;
}

/* --- Index sida --- */

#index_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100%;
}

#title{
    font-size: 5rem;
    color: white;
}

#title_underline{
    height: 3px;
    width: 30rem;
    background: white;
}

#index_underrubrik{
    font-size: 1rem;
    margin: 1.25rem;
    color: white;
}

/* --- Meny sida --- */

#menu_body{
    background: grey;
}

#menu_page{
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-rows: 3rem minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-areas: 
    "ti ti"
    "b1 me"
    "b2 me"
    ;

    margin: 1rem;
    gap: 2rem;

}

#menu_title{
    grid-area: ti;
    font-size: 3rem;
    color: white;
}

#menu{
    grid-area: me;
    background: white;
    border-radius: 5px;
}

#menu>article>section>ul{
    list-style: none;
}

#menu>article>section>ul>li{
    margin: 0.4rem;
}

.menu_underrubrik{
    font-size: 1.2rem;
}

.menu_underline{
    height: 2px;
    width: 6rem;
    background: black;
    margin-bottom: 1.5rem;
}

#bild_upp{
    grid-area: b1;
    background: blue;
}

#bild_ned{
    grid-area: b2;
    background: blue;
}


/*Rätter*/

#meal_category{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

#meal_prices{
    display: flex;
    flex-direction: column-reverse;
}

/*Drycker*/

#drink_category{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

#drink_prices{
    display: flex;
    flex-direction: column-reverse;
}