/* --- Generellt --- */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap'); /*Playfair Display, med seriffer*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap'); /*Open Sans Condensed, san seriffer*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

#index_body{
    background-image: url("../img/donburi_bakgrund1.png");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#main_wrapper{
    display: grid;
    grid-template-columns: minmax(500px,3fr) minmax(250px, 1fr);
    grid-template-rows: minmax(150px, 1fr) minmax(400px, 4fr) 20px;
    grid-template-areas: 
    "msec logo"
    "msec navi"
    "foot navi"
    ;

    height: 100vh;
    /* width: 100vw; */
}

#logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.65);
}


nav{
    grid-area: navi;
    background: rgba(0, 0, 0, 0.65);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.main_section{
    grid-area: msec;
}

.nav_underline{
    height: 2px;
    width: 13rem;
    background: white;
}

#nav_list{
    list-style: none;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

#nav_list>li{
    margin: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav_list>li>a{
    color: white;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

footer{
    height: 100%;
    grid-area: foot;
    background: rgba(0, 0, 0, 0.50);
    color: rgb(200, 200, 200);
    font-size: 0.8rem;
}

footer>a{
    color: lightblue;
}

/* --- Index sida --- */

#index_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100%;
}

#title{
    font-size: 5rem;
    color: white;
    font-family: 'Playfair Display', serif;
}

#title_underline{
    height: 3px;
    width: 30rem;
    background: white;
}

#index_underrubrik{
    font-size: 1rem;
    margin: 1.25rem;
    color: white;
    font-weight: bold;
}

/* --- Meny sida --- */

#menu_body{
    background-image: url("../img/donburi_bakgrund2.png");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#menu_page{
    display: grid;
    grid-template-columns: minmax(50px, 0.5fr) minmax(100px, 1fr);
    grid-template-rows: 3rem minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-areas: 
    "ti ti"
    "b1 me"
    "b2 me"
    ;

    margin: 1rem;
    gap: 2rem;

}

#menu_title{
    grid-area: ti;
    font-size: 3rem;
    color: white;
}

#menu{
    grid-area: me;
    background: white;
    border-radius: 5px;
    overflow: auto;
}

#menu_title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#menu_title>section>h1{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}


#menu_title_underline{
    height: 3px;
    width: 11rem;
    background: white;
}

#menu>article>section>ul{
    list-style: none;
}

#menu>article>section>ul>li{
    margin: 0.3rem;
}

.menu_underrubrik{
    font-size: 1.2rem;
}

.menu_underrubrik>h2{
    font-family: 'Playfair Display', serif;
}

.menu_underline{
    height: 2px;
    width: 7rem;
    background: black;
    margin-bottom: 1.5rem;
}

#bild_upp{
    grid-area: b1;
    overflow: hidden;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#bild_upp>img{
    color: white;    
    max-height: 200%;
    
}

#bild_ned{
    grid-area: b2;
    overflow: hidden;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#bild_ned>img{
    color: white;    
    max-height: 100%;
}

/*Rätter*/

#meal_category{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
}

#meal_names{
    width: 20rem;
}

#meal_prices{
    display: flex;
    flex-direction: column-reverse;
    width: 5rem;
}

/*Drycker*/

#drink_category{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
}

#drink_prices{
    display: flex;
    flex-direction: column-reverse;
    width: 5rem;
}

/* --- Kontact oss sida --- */

#contact_body{
    background-image: url("../img/donburi_bakgrund2.png");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    color: white;
}

#contact_page{
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-rows: minmax(100px, 1fr);
    grid-template-areas: 
    "kon opp pla"
    ;

    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
}

#contact_page>section{
    background: rgba(0, 0, 0, 0.30);
    border-radius: 10px;  
    overflow-wrap: break-word; 
    overflow-x: hidden;
}

#contact_page>section>h1{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-top: 4rem; 
    max-width: 100%; 
}

#contact_page>section>div{
    height: 2px;
    width: 10rem;
    background: white;
    margin-bottom: 1rem;
}

#contact_info{
    grid-area: kon;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_info>article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_info>article>p{
    margin-right: 2rem;
    margin-left: 2rem;
}

#contact_info>article>h2{
    margin-top: 4rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

#open_times{
    grid-area: opp;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#open_times>article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#open_times>article>p{
    margin-top: 4rem;
    font-size: 1.2rem;
}


#location{
    grid-area: pla;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#location>p{
    margin: 2rem;
}
